* {
	box-sizing: border-box;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.wrapper {
	position: absolute;
	height: 100vh;
	width: 100vw;
}
.object {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	background: violet;
	position: relative;

	animation: rotate-object 5s infinite linear /*alternate*/;
}

@keyframes rotate-object {
	0% {
		top: 0vh;
	}
	33% {
		top: 33vh;
		background: blue;
		opacity: 10%;
		transform: rotate(180deg);
	}
	66% {
		top: 66vh;
		background: rgb(255, 123, 0);
		opacity: 100%;
		transform: rotate(-1080deg);
	}
	100% {
		margin-top: -100px;
		top: 100vh;
		background: rgb(0, 255, 0);
		opacity: 50%;
		transform: rotate(-720deg);
	}
}
